<mat-sidenav-container class="example-container" autosize>
    <app-nav-bar [drawer]="drawer"></app-nav-bar>
    <div class="containerMin">
      <router-outlet></router-outlet>
    </div>

    <mat-sidenav #drawer [mode]="mode" class="example-sidenav" mode="side" id="sidenav">
        <mat-nav-list>
            <div mat-subheader>Menú</div>
            <mat-list-item (click)="toPrincipal()">
              <div mat-line class="opcionMenu">Principal</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="toBuscadorPeluqueros()">
                <div mat-line class="opcionMenu">Ver Peluqueros</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item (click)="toBuscadorPeluquerias()">
                <div mat-line class="opcionMenu">Ver Peluquerias</div>
              </mat-list-item>
              <mat-divider></mat-divider>
          </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>