<mat-grid-list cols="2" rowHeight="5:1" class="tituloBienvenida">
    <mat-grid-tile [colspan]="2">
        <p>Bienvenido/a {{clienteAuntenticado.nombre}}</p>
    </mat-grid-tile>
</mat-grid-list>
<mat-tab-group dynamicHeight [backgroundColor]="background" [color]="color">
    <mat-tab label="Citas">
      <div class="example-small-box mat-elevation-z4">
        <app-lista-citas></app-lista-citas>
      </div>
    </mat-tab>
    <mat-tab label="Reseñas">
      <div class="example-small-box mat-elevation-z4">
        <app-lista-resena></app-lista-resena>
      </div>
    </mat-tab>
    <mat-tab label="Favoritos">
        <div class="example-small-box mat-elevation-z4">
          <app-lista-favoritos></app-lista-favoritos>
        </div>
      </mat-tab>
  </mat-tab-group>
