<mat-card class="citaLista">
    <mat-card-header>
        <mat-card-title>
            Cita:
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Fecha: {{cita.fecha | date:"MMM dd, y"}}</p>
        <p>Hora: {{cita.fecha | date:"hh:mm a"}}</p>
        <p>Peluquero: {{cita.peluquero}}</p>
        <p>Establecimiento: {{cita.establecimiento}}</p>
        <p>Servicio: {{cita.servicio}}</p>
        <p>Precio: {{cita.precio}}€</p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-raised-button (click)="cancelarCita()">
            Cancelar cita
        </button>
    </mat-card-actions>
</mat-card>
